body{
	font-family: "Raleway", sans-serif !important;
	background:#fafafa;
}

#bs-example-navbar-collapse-1 {
	font-size:20px;
}

img {
	margin:10px;
}

.button-picture {
	display: block;
    margin: 0 auto;
}

.jumbotron{
	padding:5px;
	border:1px;
	border-style:solid;
	border-color:#3399FF;
}

.navbar-default .navbar-nav > li > a {
   color: #3399FF;
}

.navbar-default .navbar-nav > li > a {
   color: #3399FF !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: #eee;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: #eee;
}

.theme-background{
	background-color:#3399FF;
}

.button-text {
	text-align:center;
	margin-top:10px;
	font-size:20px !important;
	color:#3399FF;
}

.quick-links-title {
	text-align:center;
	text-decoration:underline;
	color:#3399FF;
	margin-bottom:13px;
}

.quick-links-elements {
	background-color:#3399ff !important;
}

.quick.set-picture{
	display: inline;
}

.quick-set-text {
	display:inline;
	color:#3399FF;		
}

.dark-background{
	background-color:#eee !important;
	border:1px;
	border-style:solid;
	border-color:#3399FF;	
}

.small-font {
	font-size:10px;
}

.notification-time-title{
	text-align:center;
	
}

.notification-margin{
	margin:5px;
}

.close{
	margin:2px;
}

.notification-details{
	text-align:center-left;
}

.float-right{
	float:right;
	text-align:center-right;
}

p .lights-room-name{
	font-size:1% !important;
}

button{
	margin-top:-10px;
	margin-bottom:10px;
}

.inline{
	display:inline;
}

.center{
	text-align:center;
}

.heatpump-temp{
	margin:8px;
}

.door-room-name{
	margin-top:20px;
}

#add-upper-margin{
	margin-top:47px;
}